# MongoDB
MONGODB_URI=mongodb+srv://kamsi1899_db_user:KAMSI2003@cluster0.gulsdi9.mongodb.net/?appName=Cluster0
MONGODB_DB=indiran_jewellers

# JWT
JWT_SECRET=replace-with-long-random-secret

# Cloudinary
CLOUDINARY_CLOUD_NAME=dc17pzxtp
CLOUDINARY_API_KEY=842385424978446
CLOUDINARY_API_SECRET=W0oBXaHO_Iws3L4urNYUNvh1i1M

# WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMBER=94771234567

NEXT_PUBLIC_SITE_URL=https://indiranjewellers.lk
